*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

/* Header */

.h1{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0 20px;
}
.h1 img{
    width: 140px ;
    height: 80px;
}
.opcoes{
    display: none;
}
.input{
    position: relative;
    justify-self: center;
}
.input input{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    padding-left: 32px;
    border: 1px solid;
}
.input i{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}
.h1 > i{
    font-size: 22px;
    cursor: pointer;
    margin-left: 8px;
}
.icons{
    display: flex;
    gap: 30px;
}
.icons i{
    font-size: 28px;
    cursor: pointer;
}
.categorias {
    background-color: #F9797D;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;  
    gap: 100px;               
    align-items: center;      
    cursor: pointer;
}

@media (max-width: 1024px) {
    .input input {
        max-width: 100%;
    }
    .icons i {
        font-size: 24px;
    }
    .categorias h2{
        font-size: 18px;
    }
    .categorias{
        gap: 60px;
    }
}

@media (max-width: 768px) {
    .categorias h2{
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .categorias{
        display: none;
    }
    .h1{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: auto auto;
        background-color: #F9797D;
        padding: 20px 0;
    }
    .h1 img{
        grid-column: 1 / -1;
        justify-self: center;
    }
    .opcoes{
        display: block;
        grid-column: 1/2;
        justify-self: center;
        font-size: 20px;
        cursor: pointer;
    }
    .input {
        grid-column: 2 / 3;
        justify-self: stretch;
        width: 175px;
    }
    .icons {
        grid-column: 3 / 4;
        justify-self: center;
        display: flex;
        gap: 8px;
    }
    .icons i {
        font-size: 20px;
    }
}


/* Main 

main img{
    width: 100%;
}
main h1{
    margin: 40px;
}

/* Produtos  

.produtos-escondidos {
    position: relative;
    overflow: hidden; 
    width: 100%;
}
.produtos {
    display: flex;
    align-items: center;
    gap: 70px;     
    position: relative;     
}
.box {
    width: 200px;                  
    padding: 15px;               
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    text-align: center;        
    display: flex;
    flex-direction: column;     
    gap: 8px;  
    flex-shrink: 0;                 
}
.box img {
    width: 100%;
    height: 180px;               
    object-fit: contain;         
    margin-bottom: 10px;
}
.box h1 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.box h2 {
    font-size: 14px;
    font-weight: 500;
    color: #444;
    margin: 0;
}
.box h3 {
    font-size: 16px;
    font-weight: 700;
    color: #F9797D;             
    margin-top: 5px;
}

.setaD{
    font-size: 3rem;
    position: absolute;
    z-index: 10;
    right: 10px;
    color: #F9797D;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 40px rgba(249, 121, 125, 0.45);
    height: -90px;
}

.setaE{
    font-size: 3rem;
    position: absolute;
    z-index: 10;
    left: 10px;
    color: #F9797D;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 40px rgba(249, 121, 125, 0.45);
}

/* Cards 

.text-valorize{
    text-align: center;
}

.cards{
    margin: 50px auto 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;  
    width: 1200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 10px #F9797D;
}
@media (max-width: 768px) {
    .cards{
        width: 660px;
    }
}
.card {
    width: 300px;
    height: 175px;       
    overflow: hidden; 
    border-radius: 10px;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Circulos 

.marcas {
    display: flex;
    justify-content: center;
    gap: 50px;           /* espaço entre os círculos 
    margin-top: 40px;
}
.circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;   /* transforma em círculo 
    overflow: hidden;     /* esconde a imagem fora do círculo 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

}
.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;    /* imagem ocupa inteira sem distorcer 
}

/* Footer 

footer{
    width: 100%;
    height: 300px;
    background-color: #F9797D;
    margin-top: 50px;
}
.f1{
    display: flex;
    gap: 10px;
}
.f1 h1{
    margin-top: 50px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.rem;
    width: 350px;
}
.f1 h2{
    margin: auto;
    font-size: 1.0rem;
    width: 300px;
    margin-top: 10px;
    margin-left: 180px;
}
.logPag{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    width: 300px;
    margin-top: 35px;
    margin-left: 150px;
}
.logPag img{
    width: 80px;
    height: auto;
}
.iconSiga{
    font-size: 2.2rem;
    margin-top: 35px;
    text-align: center;
}
.linha{
    width: 100%;
    height: 5px;
    margin-top: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
footer h1{
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 30px;
} 